<app-navigation></app-navigation>
<app-carousel></app-carousel>

    <section class="section-box">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 ">
							<app-game-list></app-game-list>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <app-game-list></app-game-list>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <app-match-highlight></app-match-highlight>
                        </div>
                    </div>
                </div>
                <!--SCORE AND UPCOMING GAMES-->
                <div class="col-md-4">
                    <app-team-list></app-team-list>
                </div>
                <!-- LEAGUE TABLE -->
            </div>
            <!--END ROW-->

        </div>
        <!--END CONTAINER-->
    </section>

<app-footer></app-footer>