/* You can add global styles to this file, and also import other style files */

html, body {
	max-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif, Arial, Helvetica;
  font-size: 11px;
  line-height: 1.5;
  color: #373a3c;
  letter-spacing: 0.5px;
  background-color: #f0eceb;
  margin-top:95px;

}

.section-box{
  padding: 15px 0px;
}

.main-content{
  background : #FFF;
  margin-top:-15px;
  padding:15px;
}

h4{
    background-color: #aa863a;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
    display: block;
    box-shadow: 1px 2px 2px #888888;
    
}


.box-table{
  background-color: #fff;
}

.box-table > h4{
    margin-right: -16px;
    margin-left: -15px;
}


/*navbar CSS*/
@media (min-width: 992px){
    .navbar-custom .nav{
      margin-top:10px;
    }
}

.navbar-custom{
  background-color: #283018;
}


.navbar-custom li{
  margin-left:10px;
}

.nav  a{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 10px;
    color: #f0eceb !important;
    text-decoration: none;
    border-bottom: 3px solid transparent;    
    transition: 0.5s ease;
    
}

.nav a:hover{
    text-decoration: underline;
    border-bottom: 2px solid #283018;
}


/*CAROUSEL
*/
.carousel-item {
    height: 85vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: block !important;
}

.carousel-caption h3{
  font-size: 91px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 7px;
    border-top: 10px solid;
    border-bottom: 10px solid;
}

/*GAME ICON WRAPPER*/
.game-wrapper{
    background: white;
    padding: 10px 3px;
    word-spacing: 10px;
    text-align: center;
    font-weight: bold;
    transition : 0.75s ease;
    
}

.game-wrapper:hover{
  background: #729f98;
  cursor: pointer;
  font-weight: bolder;
  word-spacing: 11px;
  color: white;
}

.game-wrapper:hover .score{
  padding: 5px;
    border: 1px solid white;
}

.game-wrapper .club-icon{
    height: 30px;
    width: 30px;
    /* padding: 3px; */
    display: inline-block;
}

.game-wrapper span i{
  float: right;
  padding : 5px;
}

.game-wrapper .game-date{
    display: block;
    padding-bottom: 5px;
    font-size: 9px;
    word-spacing: normal;
}

.game-wrapper .club-icon img{
  max-height: 100%;
  max-width: 100%;
}

.game-wrapper .score{
  padding: 5px;
    border: 1px solid black;
}

.more-section{
  background: #729f98;
  cursor: pointer;
  font-weight: bolder;
  word-spacing: 11px;
  
  text-align: center;
  padding : 10px 0px; 
}

.more-section a{
  text-decoration: none;
  color: white;

}

/*END GAME WRAPPER*/

.tbl-custom{
  background: white;
}

.tbl-custom td{
  font-size:10px;
}
    
/*CLUB LINK*/
#club-link{
  padding: 5px;
}

.image-container{
  height: 100px;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  float: left;
  border: 1px solid #aa863a;
  margin: 5px;
  overflow: hidden;
  background: #FFF;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  transition: .5s ease;
}

.content{
  height: 100px;
  width: 100px;
  background: #283018;
  margin-left: -5px;
  margin-top: 5px;
  opacity: 0.8;
  transition: transform 300ms;
  position: relative;
}

.image-container:hover .content{
  transform: translateY(-100px);
}


.text_area{
  width: 100%;
  text-align: center;
  padding-top: 40px;
  position: absolute;
  display: none;
  cursor: pointer;
}

.text_area a{
  color: #FFF !important;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}

.image-container:hover .text_area{
  display: block;
}

/*FOOTER*/
footer{
  background: #283018;
  color: #f0eceb !important; 
  margin: 10px;
  padding: 15px 5px;
}

.social-media{
  float: right;
}

.social-text{
  float: left;
}

.social-icons{
    float: left;
    font-size: 30px;
    margin-left: 20px; 
    letter-spacing: 3px;
    margin-top: -11px;
}

.social-icons a{
  color: #f0eceb !important; 
}

/*CUSTOM CSS FOR TEAM PAGE*/
.team-image-logo{
  height: 200px;
  width: 200px;
  text-align: center;
}

.team-image-logo img{
  max-width: 100%;
  max-height: 100%;
}

.club-title-wrapper{
  margin-bottom: 15px;

}
/*
body{
   margin-top:95px;
 }
 @media(max-width: 768px){
   body{
     margin-top:180px;
    }
 }*/



