<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top navbar-custom">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#startupNav" aria-controls="startupNav"
	 aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
	<div class="container">
		<div class="col-md-2 col-xs-12">
			<a class="navbar-brand" href="#">
				<img src="assets/img/laliga-v-600x600 copy.png" width="70" height="auto" alt="La Liga">
			</a>
		</div>
		<div class="col-md-4 col-xs-12 offset-md-6">
			<div class="row">
				<div class="col-md-12">
					<form class="navbar-form" role="search">
						<div class="input-group col-md-10">
							<input type="text" class="form-control form-control-sm" placeholder="Search" name="srch-term" id="srch-term">
							<span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                            </span>
						</div>
					</form>
				</div>

				<div class="col-md-12">
					<div class="collapse navbar-collapse " id="startupNav">
						<ul class="nav navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="#"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-calendar"></i> Fixtures</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-anchor"></i> Results</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="team.html"><i class="fa fa-users"></i> Teams</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>