

<div class="game-wrapper" *ngFor="let a of data | slice:0:4; let i=index">
  <span class="game-date">{{ a.date | date }}</span>
  <span> {{ a.homeTeamName }} </span>
  <span class="score" *ngIf="a.result.goalsHomeTeam!=null">{{a.result.goalsHomeTeam }}</span> VS
  <span class="score" *ngIf="a.result.goalsAwayTeam!=null">{{a.result.goalsAwayTeam }}</span>
  <span>{{ a.awayTeamName }}</span>
  <span> <i class="fa fa-angle-double-right"></i></span>
</div>

<div class="more-section" *ngIf="flag == 1"><a routerLink="/result" >MORE..</a></div>
<div class="more-section"*ngIf="flag == 2" ><a routerLink="/fixture">MORE..</a></div>

  
